
{% load i18n %}

<div class="page-header">
    <h1>{% trans "Physical Topology"%} </h1>
  </div>
<div ng-controller="adminPhyTopologyContrllor" ng-cloak >
    <div  class="title-topWraper" id="topWraper" style="position: relative; width: 96.5%; background: #EFEFEF;" >
        <div class="title-top clearfix" style="padding-bottom: 10px;border-bottom: 0;">
            <ul class="clearfix" style="border-bottom: 1px solid #BCBCBC;">
                <li class="first" style=" margin-bottom: 10px;"><img src="{{ STATIC_URL }}dashboard/img/img_topology/switch1.png"/><span class="title">{% trans "Level 1 Switch" %}</span></li>
                <li class="first"><img src="{{ STATIC_URL }}dashboard/img/img_topology/switch2.png"/><span class="title">{% trans "Level 2 Switch" %}</span></li>
                <li class="first"><img style="width:50px;height:20px;margin-top:10px;" src="{{ STATIC_URL }}dashboard/img/img_topology/iserver.png"/><span class="title">{% trans "server" %}</span></li>
                <!--<li><span class="prompt lines" style="background:#5E5E5E;"></span><span>无法获取流量</span></li>-->
                <!--<li><span class="prompt lines" style="background: #2E8B57;"></span><span>空闲流量</span></li>-->
                <!--<li><span class="prompt lines" style="background:#7CFC00 ;"></span><span>正常流量</span></li>-->
                <!--<li style=" margin-bottom: 10px;"><span class="prompt lines" style="background:red ;"></span><span>过载流量</span></li>-->
            </ul>
        </div>
    </div>

    <div id="topologyCanvas"  style="
    position:absolute;
    left:10px;
    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 95%;
      height: 300px;
      overflow:auto;
      background: #efefef;" >
    <canvas id="canvas_proton_topo" ></canvas>

    <div id="bl">
    <div id="bl_1" class="topologyBalloon"  >
      <a href="#close" class="closeTopologyBalloon" ng-click="hide()">&times;</a>
      <div class="contentBody">
        <table id="tb"class="detailInfoTable">
       </table>
       <div class="portTableHeader">
      <div class="title"></div>

    <table class="detailInfoTable"id="table">
      <caption id="m_title" style="width: 120px">manage the switch</caption>
      <tbody id="tBody" style="display:none"> </tbody>
      <tbody style="display: block;width:100%;">
        <tr style="width: 100%;
        display: block;
        display: flex;
        flex-flow: nowrap row;
        justify-content: space-around;">
          <td>
            <button id="login"  onclick="location.href=''" class="login" style="background-color:#5CACEE;border-color:#63B8FF;width:80px;color:#FFFFFF;margin-top:10px;margin-right:10px;-moz-border-radius: 5px; height:35px;     /* Gecko browsers */
       -webkit-border-radius: 5px;
       border-radius:5px;  font-size:10pt  ">login</button>
          </td>
          <td>
              <button id="shut"onclick="location.href=''" class="shut off"style="background-color:#5CACEE;border-color:#63B8FF;width:90px;color:#FFFFFF;margin-top:10px;margin-right:10px;-moz-border-radius: 5px; height:35px;     /* Gecko browsers */
       -webkit-border-radius: 5px;
       border-radius:5px;   font-size:10pt  ">shut off</button>
          </td>
          <td>
              <button id="restart"onclick="location.href=''"class="restart"style="background-color:#5CACEE;border-color:#63B8FF;color:#FFFFFF;width:80px;margin-top:10px;margin-right:10px;-moz-border-radius: 5px; height:35px;     /* Gecko browsers */
       -webkit-border-radius: 5px;
       border-radius:5px; font-size:10pt    ">reboot</button>
          </td>


        </tr>

      </tbody>
    </table>
      </div>
      <div class="footer"id="foot">
        <div class="footerInner">
          <div class="cell link">
            <a href=""id="link">» view switch detail</a>      </div>
          </div>
        </div>
      </div>
    </div>
    </div>
      <div class="nodata"style="font-size: 150%;
        text-align: center;
        padding-top: 150px;
        display: none; ">{% blocktrans %}There are no networks, routers, or connected instances to display.{% endblocktrans %}</div>
    </div>


</div>

